/**
 * 1. 设置全局的字体为sans-serif
 * 2. 防止 iOS 横屏字号放大，同时保证在PC上 zoom 功能正常
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/**
 * 修复浏览器默认边距，统一效果
 */
body {
  margin: 0;
}
/**
 * 修复 IE 8/9，HTML5新元素不能正确显示的问题，定义为block的元素
 * 修复 IE 10/11，details 和 summary 定义为 block 的元素
 * 修复 IE 11，main定义为 block 的元素
 */
article, aside, details, figcaption, figure, footer, 
header, hgroup, main, menu, nav, section, summary {
  display: block;
}
/**
 * 1. 修复 IE 8/9，HTML5新元素不能正确显示的问题，定义为inline-block元素
 * 2. 修复Chrome, Firefox, 和Opera的progress元素没有以baseline垂直对齐
 */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
/**
 * 对不支持controls属性的浏览器，audio元素给以隐藏
 * 移除iOS5设备中多余的高度
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * 修复 IE 7/8/9，Firefox 3 和 Safari 4 中hidden属性不起作用的问题
 * 在 IE，Safari，Firefox 22- 中隐藏template元素
 */
[hidden], template {
  display: none;
}
/**
 * 去掉 IE 10+ 点击链接时的灰色背景
 */
a {
  background-color: transparent;
}
/**
 * 去掉点击时的outline焦点框，同时保证使用键盘可以显示焦点框
 * 这个操作针对所有浏览器
 */
a:active, a:hover {
  outline: 0;
}
/**
 * 修正abbr元素在 Firefox 外其他浏览器没有下划线的问题
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Firefox3+，Safari4/5 和 Chrome 中统一设置为粗体
 */
b, strong {
  font-weight: bold;
}
/**
 * 修正 Safari5 和 Chrome 中没有样式的问题
 */
dfn {
  font-style: italic;
}
/**
 * 修复 Firefox 4+，Safari 5 和 Chrome 中section和article内的h1字体大小
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * 修复 IE 6/9， Safari 5 和 Chrome中样式不呈现的问题
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * 在所有浏览器中统一small的字体大小
 */
small {
  font-size: 80%;
}

/**
 * 防止所有浏览器中的sub和sup影响行高
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/**
 * 去除 IE6-9 和 Firefox 3 中a内部img元素默认的边框
 */
img {
  border: 0;
}
/**
 * 修复 IE9 中的overflow的怪异表现
 */
svg:not(:root) {
  overflow: hidden;
}
/**
 * 修复 IE 8/9、Safari中margin失效
 */
figure {
  margin: 1em 40px;
}
/**
 * 修正 Firefox 和其他浏览器之间的差异
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * 标签设置滚动条，内容溢出时出现
 */
pre {
  overflow: auto;
}
/**
 * 用于修复 Safari 5 和 Chrome 中奇怪的字体设置，统一字体样式
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/**
 * 1. 修正所有浏览器中颜色不继承的问题
 * 2. 修正所有浏览器中字体不继承的问题
 * 3. 修正 Firefox 3+， Safari5 和 Chrome 中外边距不同的问题
 */
button, input, optgroup, select, textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
/**
 * 统一 IE 8/9/10/11 overflow属性为visible
 */
button {
  overflow: visible;
}
/**
 * 统一各浏览器text-transform不会继承的问题
 */
button, select {
  text-transform: none;
}
/**
 * 1. 避免 Android 4.0.* 中的 WebKit bug ，该bug会破坏原生的audio和video的控制器
 * 2. 更正 iOS 中无法设置可点击的input的问题
 * 3. 统一其他类型的input的光标样式
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
/**
 * 重置按钮禁用时光标样式
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 移除 Firefox 4+ 的内边距
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 统一设置行高为normal
 */
input {
  line-height: normal;
}
/**
 * 1. 修正 IE 8/9 box-sizing 被设置为content-box的问题
 * 2. 移除 IE 8/9 中多余的内边距
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * 修正 Chrome 中 input [type="number"] 在特定高度和 font-size 时,
 * 下面一个箭头光标变成cursor: text 效果
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. 修正 Safari 5 和 Chrome 中appearance被设置为searchfield的问题
 * 2. 修正 Safari 5 和 Chrome 中box-sizing被设置为border-box的问题
 */
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
/**
 * 移除原生默认样式，统一search的输入框样式
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 定义一致的边框、外边距和内边距
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. 修正 IE 6-9 中颜色不能继承的问题
 * 2. 重置内边距
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
/**
 * 移除 IE8-11 中默认的垂直滚动条
 */
textarea {
  overflow: auto;
}
/**
 * 统一设置optgroup元素font-weight始终为bold
 */
optgroup {
  font-weight: bold;
}

/**
 * 删除表单元格之间的间距
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}

/*初始化样式结束*/
/*设置代码块样式*/
pre {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 13px;
  color: #ccc;
  background: #2d2d2d;
  line-height: 1.4;
}
pre, code {
  font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code {
  padding: 2px 4px;
  color: #ccc;
  background: #2d2d2d;
  border-radius: 3px;
  font-size: 13px;
}

code {    
  scrollbar-face-color: #555; /*主色调*/  
  scrollbar-highlight-color: #F5F5F5;  
  scrollbar-shadow-color: #F5F5F5; /*描边颜色*/
  scrollbar-3dlight-color: #F5F5F5; /*左侧边高光颜色*/  
  scrollbar-arrow-color: #F5F5F5; /*小三角颜色*/  
  scrollbar-track-color: #F5F5F5;  
  scrollbar-darkshadow-color: #F5F5F5;
  scrollbar-base-color: #F5F5F5;
}  

code::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /*border-radius: 10px;*/
  background-color: #F5F5F5;
}

code::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

code::-webkit-scrollbar-thumb
{
  /*border-radius: 10px;*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}


/**
 * 设置鼠标选中文字颜色
 */
::selection {
  background: #262a30;
  color: #fff;
}
body {
  position: relative;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #555;
  background: #fff;
}
@media (max-width: 767px) {
  body {
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-right: 0 !important;
  }
}
@media (min-width: 1600px) {
  body {
    font-size: 16px;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
h2, h3, h4, h5, h6 {
  margin: 20px 0 15px;
}
h1 {
  font-size: 22px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 18px;
  }
}
h2 {
  font-size: 20px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 16px;
  }
}
h3 {
  font-size: 18px;
}
@media (max-width: 767px) {
  h3 {
    font-size: 14px;
  }
}
h4 {
  font-size: 16px;
}
@media (max-width: 767px) {
  h4 {
    font-size: 12px;
  }
}
h5 {
  font-size: 14px;
}
@media (max-width: 767px) {
  h5 {
    font-size: 10px;
  }
}
h6 {
  font-size: 12px;
}
@media (max-width: 767px) {
  h6 {
    font-size: 8px;
  }
}
p {
  margin: 0 0 25px 0;
}
a {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid #999;
  word-wrap: break-word;
}
a:hover {
  color: #222;
  border-bottom-color: #222;
}
ul {
  list-style: none;
}
blockquote {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
hr {
  margin: 40px 0;
  height: 3px;
  border: none;
  background-color: #ddd;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}
blockquote {
  padding: 0 15px;
  color: #666;
  border-left: 4px solid #ddd;
}
blockquote cite::before {
  content: "-";
  padding: 0 5px;
}
dt {
  font-weight: 700;
}
dd {
  margin: 0;
  padding: 0;
}




table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 14px;
  table-layout: fixed;
  word-wrap: break-all;
}
table>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table>tbody>tr:hover {
  background-color: #f5f5f5;
}
caption, th, td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}
th, td {
  border-bottom: 3px solid #ddd;
  border-right: 1px solid #eee;
}
th {
  padding-bottom: 10px;
  font-weight: 700;
}
td {
  border-bottom-width: 1px;
}




html, body {
  height: 100%;
}


.container {
  position: relative;
  min-height: 100%;
}


.header {
  background: #fff;
}

.header {
  margin-bottom: 25px;
  background-image: url("../image/banner-02.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*加载进度条*/
.headband {
  width: 0%;
}
.headband {
  height: 3px;
  background: #222;
}

.header-inner {
    margin: 0 auto;
    padding: 100px 0 70px;
    width: 700px;
}
@media (min-width: 1600px) {
  .container .header-inner {
    width: 900px;
  }
}
.header-inner {
    position: relative;
}
@media (max-width: 767px) {
  .header-inner, .container .main-inner, .footer-inner {
    width: auto;
  }
}
.header-inner {
    padding: 80px 0 20px;
}

.site-meta {
    margin: 0;
    text-align: center;
}
@media (max-width: 767px) {
  .site-meta {
    text-align: center;
  }
}

.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: #222;
  border-bottom: none;
}
.brand:hover {
  color: #fff;
}

.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.site-subtitle {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}
.use-motion .brand {
  opacity: 0;
}
.brand {
  background: rgba(0,0,0,0.3);
  border-radius: 2px;
}
.use-motion .logo,
.use-motion .site-title,
.use-motion .site-subtitle {
  opacity: 0;
  position: relative;
  top: -10px;
}
.site-subtitle {
  display: none;
}

.site-nav-toggle {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}
@media (max-width: 767px) {
  .site-nav-toggle {
    display: block;
  }
}
.site-nav-toggle button {
  margin-top: 2px;
  padding: 9px 10px;
  background: transparent;
  border: none;
}
.btn-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #555;
    border-radius: 1px;
}
.btn-bar+.btn-bar {
  margin-top: 4px;
}
@media (max-width: 767px) {
  .site-nav {
    display: none;
    margin: 0 -10px;
    padding: 0 10px;
    clear: both;
    border-top: 1px solid #ddd;
  }
}

@media (max-width: 767px) {
  .site-nav {
    position: absolute;
    left: 0;
    top: 52px;
    margin: 0;
    width: 100%;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
	.site-nav {
	    display: block !important;
	}
}
@media (min-width: 992px) {
	.site-nav {
	    display: block !important;
	}
}

.menu {
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
}
.menu .menu-item {
  	display: inline-block;
  	margin: 0 10px;
}

.menu .menu-item a {
  display: block;
  font-size: 13px;
  text-transform: capitalize;
  line-height: inherit;
  border-bottom: 1px solid transparent;
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.menu .menu-item a {
  color: #fff;
}
.menu .menu-item a:hover {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {
  .menu {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .menu .menu-item {
    display: block;
    margin: 0 10px;
    vertical-align: top;
  }
}
@media (max-width: 767px) {
  .menu .menu-item br {
    display: none;
  }
}
@media (max-width: 767px) {
  .menu .menu-item a {
    padding: 5px 10px;
  }
}


@media (max-width: 767px) {
  .header-inner {
    padding: 80px 0 70px;
  }
  .menu .menu-item a {
    color: #222;
  }
  .menu .menu-item a:hover {
    border-bottom: 1px solid #222;
  }
}

/*头部样式结束*/

/*文章显示宽度*/
.main {
    padding-bottom: 150px;
}
.main-inner {
  margin: 0 auto;
  width: 700px;
}
@media (min-width: 1600px) {
  .container .main-inner {
    width: 900px;
  }
}

.posts-expand {
  padding-top: 40px;
}
@media (max-width: 767px) {
  .posts-expand {
    margin: 0 20px;
  }
}
/*文章显示宽度结束*/
/*文章标题*/
.posts-expand .post-title {
  font-size: 26px;
  text-align: center;
  word-break: break-word;
  font-weight: 400;
}
@media (max-width: 767px) {
  .posts-expand .post-title {
    font-size: 22px;
  }
}

.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: #555;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
}
.posts-expand .post-title-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.posts-expand .post-title-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.posts-expand .post-title-link .fa {
  font-size: 16px;
}
/*文章标题结束*/
/*文章归档*/
.posts-expand .post-meta {
  margin: 3px 0 60px 0;
  color: #999;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 12px;
  text-align: center;
}

.post-meta-item-icon {
  display: none;
  margin-right: 3px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-meta-item-icon {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .post-meta-item-icon {
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-meta-item-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .post-meta-item-text {
    display: none;
  }
}
/*文章归档结束*/
/*文章*/
.post-body {
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
/*摘要*/
.abstract code {
  /*自动换行*/
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
  /*自动换行*/
}
@media (max-width: 767px) {
  .post-body {
    word-break: break-word;
  }
}
/*文章结束*/
/*查看全文按钮*/
.post-more-link {
    margin-top: 50px;
}
.text-center {
    text-align: center;
}
.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
  background: #222;
  border: 2px solid #222;
  text-decoration: none;
  border-radius: 0;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.btn:hover,
.post-more-link .btn:hover {
  border-color: #222;
  color: #222;
  background: #fff;
}
.post-more-link .btn {
  color: #fff;
  font-size: 13px;
  background: #222;
  border-radius: 0;
  line-height: 2;
}
.post-more-link .btn {
  border-radius: 2px;
  background: #757575;
  border-color: #757575;
}
/*查看全文按钮结束*/
/*查看全文按钮底部*/
.posts-expand .post-eof {
  display: block;
  margin: 80px auto 60px;
  width: 8%;
  height: 1px;
  background: #ccc;
  text-align: center;
}
.post:last-child .post-eof {
  display: none;
}
/*查看全文按钮底部结束*/
/*翻页开始*/
.pagination {
  margin: 120px 0 40px;
  text-align: center;
  border-top: 1px solid #eee;
}
@media (max-width: 767px) {
  .pagination {
    border-top: none;
  }
}
/*翻页结束*/
/*页面底部*/
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 50px;
}
.footer-inner {
  box-sizing: border-box;
  margin: 20px auto;
  width: 700px;
}
.footer {
  font-size: 14px;
  color: #999;
}
.footer-inner {
  text-align: center;
}
/*页面底部结束*/

.use-motion .post {
  opacity: 0;
}

